body{
    height:100%;
    width: auto;
    background-color:whitesmoke;
    font-family: arial;
    /* overflow: hidden; */
}
.totalDiv{
    display: flex;
    height: 100%;
    margin: -10px;
}
.sidebarDiv {
    height: auto;
    background-color: black;
    cursor: pointer;
    width:auto;
    border-right: 3px solid black;
}

.topNav{
    width: min-content;
    display: flex;
    padding: 16px;
    width: auto;
    overflow: hidden;
}
.titletext{
    color: white;
    font-size: 22px;
    display: flex;
    margin-top: 40%;
    /* color: white;
    font-size: 30px;
    display: flex; */
}
.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #e8eff8;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #ccc;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #b6bfca;
  }
  
  .svg-icon circle {
    stroke: #cdd2d8;
    stroke-width: 1;
  }

.adminButton{
    background-color: blueviolet;
    flex: auto;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 1px;
        /* background-color: blueviolet;
        flex:auto;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;

        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 10px; */
}
.askButton{
    width: 10%;
    padding: 8px;
}

.addUSerButton{
    padding: 20px;
    text-align:end;
    margin-top: 20px;
    font-weight: 50;
}

.button{
    background-color: blueviolet;
    flex:auto;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
   
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.verticalMenu{  
    margin : 25px 0px;
    width: 100%;
    
}
#verticalMenu{
    display: block;
}

.item{
    color: #cac4c4;
    padding: 15px 15px;
}
.item:hover {
    background-color: rgb(179, 175, 175);
    color: black;
  }
 .active {
    background-color: #555;
    color: white;
  }

.divQuestion{
    float: right;
    box-sizing: border-box;
    width: 80%;
    height:auto;
    padding: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .ask{
    width:100%;
    margin: 20px 0px;
    display:flex;
    background-color: white;
    border: 1px solid silver;
  }

table{
    width: 100%;
    margin:50px 0px;
    border-collapse: collapse;


}
td{
    padding: 2px 15px;
    border: none;  
}
th{
    padding: 15px 20px;  
    font-family: 'Times New Roman', Times, serif
}

tr{
    border: 1px solid silver; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif

}

.statusButton{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}

.showName{
    bottom: 0;
    width: 100%;
    color: #ffffff;
    position: absolute;
} 

.findByFields{
    padding: 10px;
    margin:10px;
    border:1px solid silver;
    font-family: arial;
    font-weight: 100;
}

#menuButton{
    display: none;
}


@media only screen and (max-width:701px)
{
    .totalDiv{
        display: block;
        width: auto;
    }
    .sidebarDiv{
        width: 100%;
    
    }
    .topNav{
        width:100%;
        flex-wrap: wrap;
    }
    #verticalMenu{
        display: none;
    }
    #menuButton{
        display: block;
        padding: 20px;
        cursor: pointer;
    }
    table{
        width: auto;
        height: auto;
    }

    .divQuestion{
        width: 100% !important;
        padding: 5px;
    } 
    /* .ask{
        width: auto;
        display:inline-block;
        flex-wrap: wrap;
    }   */
    .askButton{
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: 1px;
    padding: 2px;
    }
}