body{
    height:100%;
    
    background-color:aliceblue;
    font-family: arial;
    overflow: hidden;
}
.totalDiv{
    display: flex;
    height: 100%;
    margin: -10px;  
}
.sidebarDiv {
    height: auto;
    background-color: rgb(27, 26, 26);
    cursor: pointer;
    width:auto;
    border-right: 3px solid black;
}

.topNav{
    width: min-content;
    display: flex;
    padding: 16px;
    width: auto;
    /* overflow: hidden; */
}
.titletext{
    color: white;
    font-size: 22px;
    display: flex;
    margin-top: 40%;
    /* color: white;
    font-size: 30px;
    display: flex; */
}
.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #e8eff8;
  }
  
  .svg-icon circle {
    stroke: #000914;
    stroke-width: 1;
  }

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: white;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: #000000;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: #ccc;
    stroke-width: 1;
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #b6bfca;
  }
  
  .svg-icon circle {
    stroke: #cdd2d8;
    stroke-width: 1;
  }

.adminButton{
    background-color: blueviolet;
    flex: auto;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 1px;
     
}
.askButton{
    width: 20%;
    padding: 10px;
}
.askInput{
    width: 80%;
  
}

.addUSerButton{
    padding: 20px;
    text-align:end;
    margin-top: -10px;
    /* margin-right: -65% */
    /* font-weight: 40%; */
}

.button{
    background-color: blueviolet;
    flex:auto;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
   
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.verticalMenu{  
    margin : 5px 0px;
    width: 100%;
    font-size: 15px;
    
}
#verticalMenu{
    display: block;
    /* position: relative; */
    margin-left: 2px;
}

.item{
    color: #cac4c4;
    padding: 20px 5px;
}
.itemmain{
  color: #cac4c4;
  /* padding: 10px; */
  padding-top: 8px;
  padding-bottom: 10px;
}
.item1{
  background-color: rgb(130, 131, 139)!important;
  padding-top: 20px;
  padding: 15px;
  padding-left: 12px;
}
.item:hover {
  background-color: rgb(54, 56, 75);
    /* background-color: rgb(74, 79, 97); */
    color: white;
  }
 .active {
  background-color: rgb(74, 79, 97);
   
    color: white;
  }

.divQuestion{
    float: right;
    box-sizing: border-box;
    width: 90%;
    height:auto;
}
.head{
  background-color:whitesmoke(148, 44, 61);
  height: 10%;
  padding: 10px 30px;
  box-shadow: 0px 0px 10px silver;
}
.bodyy{
  background-color:whitesmoke;
  height:100%;
  margin-top: 10px;
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 10px silver;
  border:1px solid silver;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }

  .ask{
    width:100%;
    margin: 10px 0px;
    display:flex;
    background-color: white;
    border: 1px solid silver;
    box-shadow: rgb(54, 56, 75);
  }

table{
    width: 100%;
    margin:50px 0px;
    border-collapse: collapse;
}
td{
    padding: 5px 18px;
    border: none;  
    text-align: left;
}
th{
    padding: 15px 20px;  
    text-align: left;
    font-family: 'Times New Roman', Times, serif
}

tr{
    padding: 15px 20px;
    border: 1px solid silver; 
    text-align: left;
    font-family: 'Times New Roman', Times, serif

}

.statusButton{
    border: 1px solid blue;
    background-color: white;
    color: blue;
    padding: 5px 10px;
    border-radius: 5px;
}

.showName{
    bottom: 0;
    width: 100%;
    color: #ffffff;
    position: absolute;
} 

#menuButton{
    display: none;
}


@media only screen and (max-width:700px)
{
    .totalDiv{
        display: block;
        width: auto;
    }
    .sidebarDiv{
        width: 100%;
    
    }
    .topNav{
        width:100%;
        flex-wrap: wrap;
    }
    #verticalMenu{
        display: none;
        position: absolute;
        background-color: black;
    }
    #menuButton{
        display: block;
        padding: 20px;
        cursor: pointer;
    }
    table{
        width: auto;
        height: auto;
    }
.bodyy{
  width:85%
}
    .divQuestion{
        width: 100% !important;
        padding: 5px;
    } 
    /* .ask{
        width: auto;
        display:inline-block;
        flex-wrap: wrap;
    }   */
    .askButton{
        width: 40%;
        padding: 10px;
    }
    .askInput{
        width: 60%;
    }
    /* .addUSerButton{
      width:auto;
    } */
}